/*-- scss:defaults --*/

$font-family-sans-serif: "Fira Sans", Helvetica, sans-serif !default;
$presentation-h-font12:	"Fira Sans", sans-serif !default; 
$presentation-h-font36: "Fira Sans", sans-serif !default; 
$presentation-font-size-root: 32px !default;
$presentation-h1-font-size:	1.8em !default;
$presentation-h2-font-size:	1.6em !default;
$presentation-h3-font-size:	1.2em !default;

// $primary-color: #0c2344;
